.hierarchy-import-card,
.privacy-model-manager-card,
.suppression-limit-card {
  min-width: 20em;
}
.hierarchy-import,
.privacy-model-manager,
.suppression-limit {
  height: 15em;
  overflow-y: auto;
}
