.import-dataset-form {
  font-size: 1.25rem;
  background-color: #c8dadf;
  padding: 1.5em 0 1.5em 0;
}
.import-dataset-form .import-dataset-icon {
  height: 3em;
}
.import-dataset-form .has-data {
  display: inline-block;
}
.import-dataset-form.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}
.import-dataset-icon {
  width: 7em;
  height: 5.5em;
  margin-bottom: 1em;
  fill: #92b0b3;
}
.import-dataset-form.is-dragover {
  outline-offset: -1em !important;
  outline-color: #c8dadf !important;
  background-color: #fff;
}
*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
  box-sizing: border-box;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  fill: currentColor;
  pointer-events: none;
}
*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
}
