.alertstripe {
  background-color: #FFF;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  display: flex;
  align-content: center;
  border-radius: 0.25rem;
  color: #3E3832;
}
.alertstripe--info {
  border: 1px solid #66CBEC;
  background-color: #e0f5fb;
}
.alertstripe--suksess {
  border: 1px solid #06893A;
  background-color: #9bd0b0;
}
.alertstripe--advarsel {
  border: 1px solid #FF9100;
  background-color: #ffe9cc;
}
.alertstripe--feil {
  border: 1px solid #BA3A26;
  background-color: #e79999;
}
.alertstripe__ikon {
  margin-right: 0.75rem;
  display: flex;
  top: 1rem;
  flex-shrink: 0;
}
.alertstripe .lenke:not(:focus) {
  color: #3E3832;
}
.alertstripe .alertstripe__tekst {
  margin: auto 0;
  max-width: 37.5rem;
  display: block;
  flex: 1;
}
.spinner {
  display: inline-block;
  position: relative;
  animation: spinner-rotate 1.4s linear infinite;
}
.spinner circle:nth-child(3) {
  animation: spinner-dasharray 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
}
.spinner--xxs {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}
.spinner--xs {
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}
.spinner--s {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}
.spinner--m {
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
}
.spinner--l {
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
}
.spinner--xl {
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
}
.spinner--xxl {
  height: 128px;
  width: 128px;
  background-size: 128px 128px;
}
.spinner--xxxl {
  height: 256px;
  width: 256px;
  background-size: 256px 256px;
}
@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}
.toggleKnapp {
  display: inline-block;
  font-weight: 600;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  white-space: nowrap;
  border-radius: 0.125em;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.0625em;
  line-height: 1.375rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  padding: calc(.475rem - 1px) 2.5rem calc(.525rem - 1px) 2.5rem;
  border: 2px solid #0067C5;
  color: #0067C5;
  transform: translateY(-2px);
  position: relative;
  box-shadow: 0 2px 0 #C6C2BF;
  z-index: 2;
}
.toggleKnapp:focus {
  outline: none;
  box-shadow: 0 0 0 3px #254b6d;
}
.toggleKnapp:visited {
  color: #0067C5;
}
.toggleKnapp:hover {
  background-color: #0067C5;
  color: #FFF;
}
.toggleKnapp:active {
  background-color: #005B82;
  border-color: #005B82;
  color: #FFF;
}
.toggleKnapp:disabled,
.toggleKnapp--disabled {
  background-color: #B7B1A9;
  border-color: #B7B1A9;
  color: #FFF;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}
.toggleKnapp:disabled:after,
.toggleKnapp--disabled:after {
  display: none;
}
.toggleKnapp:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -3px;
  height: 1px;
  border-radius: 0.125rem;
  background: rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}
.toggleKnapp:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -4px;
  height: 2px;
}
.toggleKnapp:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 0 #d2cfcc;
}
.toggleKnapp:hover:before {
  bottom: -5px;
  height: 3px;
}
.toggleKnapp:active,
.toggleKnapp--active {
  transform: translateY(0);
  box-shadow: none;
}
.toggleKnapp:active:after,
.toggleKnapp--active:after,
.toggleKnapp:active:before,
.toggleKnapp--active:before {
  display: none;
}
.toggleKnapp svg g {
  fill: #005B82;
  border-color: #005B82;
  stroke: #005B82;
}
.toggleKnapp:after {
  display: none;
}
.toggleKnapp:hover {
  border-color: #0074df;
  background-color: #0074df;
}
.toggleKnapp:hover:after {
  display: block;
}
.toggleKnapp:hover svg g {
  fill: white;
  border-color: white;
  stroke: white;
}
.toggleKnapp--pressed {
  box-shadow: none;
  transform: translateY(0);
  border-color: #005B82;
  background-color: #005B82;
  color: #FFF;
}
.toggleKnapp--pressed svg g {
  fill: #FFF;
  border-color: #FFF;
  stroke: #FFF;
}
.toggleKnapp--pressed:hover,
.toggleKnapp--pressed:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: #254652;
  border-color: #254652;
}
.toggleKnapp--pressed:after,
.toggleKnapp--pressed:before {
  display: none;
}
.toggleKnapp--kompakt {
  padding: 0.5rem 1rem;
}
.toggleGruppe {
  padding: 0 1px;
}
.toggleGruppe .toggleKnapp {
  border-radius: 0;
  margin: 0 -1px;
}
.toggleGruppe .toggleKnapp:first-child {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.toggleGruppe .toggleKnapp:last-child {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}
.toggleGruppe .toggleKnapp:hover {
  z-index: 3;
}
.toggleGruppe .toggleKnapp--pressed {
  z-index: 1;
}
.toggleGruppe .toggleKnapp--pressed:hover,
.toggleGruppe .toggleKnapp--pressed:active {
  z-index: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
