@import '~nav-frontend-core/less/core';
@import '~nav-frontend-knapper-style';
@import '~nav-frontend-ekspanderbartpanel-style';
@import '~nav-frontend-chevron-style';
@import '~nav-frontend-toggle-style';
@import '~nav-frontend-spinner-style';

.dataset-table{
  margin-bottom: 1em;
}

.import-attribute-from-file{
  margin-bottom: 1em;
}

.import-attributes-button{
  margin-left: 1em;
}

.table-wrapper {
  margin-top: 2em;
}

.recharts-wrapper {
  margin: auto;
}

.risk-distribution-metrics{
  margin-top: 2em;
}

.risk-distribution-graph{
  width: auto;
  overflow-x: auto;
}

.risk-barometer {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow-x: auto;
}

.import-file-wrapper {
  margin-top: 3.5em;
}

//ImportFile css starts here
