@import '~nav-frontend-core/less/core';
@import '~nav-frontend-knapper-style';
@import '~nav-frontend-ekspanderbartpanel-style';
@import '~nav-frontend-chevron-style';
@import '~nav-frontend-toggle-style';
@import '~nav-frontend-spinner-style';

body {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  font-family: sans-serif;
}

.moreInfoWrapper {
  margin-top: 4.5em;
}

.import-file-container {
  margin-top: 4em;
}

@media only screen and (max-width: 495px) {
  .moreInfoWrapper {
    margin-top: 7em;
  }
  .import-file-container {
    margin-top: 6em;
  }
}

.dataset-container {
  margin-top: 2em;
}

.recharts-wrapper {
  margin: auto;
}

.analysis-wrapper {
  margin-top:2em;
}

.risk-distribution-metrics{
  margin-top: 2em;
}

.risk-distribution-graph{
  width: auto;
  overflow-x: auto;
}

.risk-barometer {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow-x: auto;
}
